* {
    box-sizing: border-box;
}

body {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

#count-label, .btn-container {
    display: block;
    text-align: center;
}

button {
    background-color: rgb(167, 226, 255);
    transition: background-color 0.25s;
}

button:hover {
    background-color: rgb(123, 170, 193);
}